.toast-wrapper {
  .toast {
    position: fixed;
    right: 0.75rem;
    top: 4.75rem;
    box-shadow: 0 .2rem .4rem rgba(0,0,0,.1);
    border-radius: .2rem;
    padding: 1rem;
    animation-name: slide-in;
    animation-duration: .2s;
  }

  .info {
    background-color: black;
    color: white;
  }

  .warn {
    background-color: #b93f55;
    color: white;
  }
}


